.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: visible;
  margin-top: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.cardWrapper {
  padding: 20px;
  justify-content: center;
  display: flex;
}
