@use "../../../global_styles/variables" as v;

.container {
  width: 100%;
  overflow-x: hidden;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  background-color: v.$bg-color;
}
