@use "../../global_styles/variables" as v;

.card {
  width: 400px;
  height: 500px;
  background: v.$main-color1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  text-align: left;
  overflow: hidden;
}

.card::before {
  width: 150px;
  height: 150px;
  content: "";
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: -50px;
  right: -50px;
  background: linear-gradient(
    0,
    v.$accent-shape-color-gr-1,
    v.$accent-shape-color-gr-2
  );
}

.heading {
  font-size: 2em;
  font-weight: 600;
  z-index: 2;
  background: v.$gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.imageWrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 20px;
  }
}

.description {
  font-size: 1em;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.description a {
  color: rgb(241, 241, 241);
}

.learnMoreBtn {
  padding: 11px 20px;
  background-color: #7b57ff;
  transition-duration: 0.2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
  border-radius: 20px;
}

.learnMoreBtn:hover {
  background-color: #714aff;
  transition-duration: 0.2s;
}
