@use "../../global_styles/variables" as v;

.shape {
  height: v.$height;
  background: v.$accent-shape-color;
  border-radius: 0 50% 50% 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  color: white;
  padding: 0;
  font-size: 7rem;
  padding-left: 5%;
  padding-bottom: 10%;
}
