@use "../../../global_styles/variables" as v;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: clip;
  padding: 15px 20px;
  background-color: v.$bg-color;

  h1 {
    font-size: 3rem;
    color: v.$main-color1;
  }
}
