.btnContainerHeader {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  width: 100%;

  //   @media (max-width: 768px) {
  //     justify-content: flex-end;
  //     --btn-font-size: 0.9rem;
  //     --btn-padding: 0.5rem 1.2rem;
  //     gap: 8px;

  //     @media (max-width: 480px) {
  //       --btn-font-size: 0.6rem;
  //       --btn-padding: 0.4rem 0.8rem;
  //     }
  //   }
}
