@use "../../../global_styles/variables" as v;

.btnContainerHeader {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    --btn-font-size: 0.6rem;
    --btn-padding: 0.4rem 0.8rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: clip;
  padding: 15px 20px;
  background-color: v.$bg-color;

  h1 {
    font-size: 3rem;
    color: v.$main-color1;
  }
}
