@use "../../global_styles/variables" as v;

.shape {
  border-radius: 10%;
  background-color: v.$accent-shape-color;
  height: 100%;
}

.shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
