@use "../../global_styles/variables" as v;

.shape {
  height: v.$height;
  flex: 1;
  border-radius: 50%;
  background-color: black;
  display: flex;
  z-index: 1;
  position: relative;
}

.shape img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
