@use "./variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");

$fontFamily: "Montserrat", sans-serif;

.mainPageH1 {
  font-size: clamp(4rem, 10vw, 12vh);
  line-height: 1.1;
  text-align: left;
  display: block;
  min-height: auto;

  @include v.gradient-text(
    v.$accent-shape-color-gr-1,
    v.$accent-shape-color-gr-2
  );
}

.mainPageH2 {
  font-size: clamp(1.5rem, 3vw, 4vh);
  text-align: left;
  color: black;
}
