//global background color
$bg-color: #e5fbff;

//pages height and width
$height: 100vh;
$width: 100vw;

$main-color1: #280f91;

//accent shape colors
$accent-shape-color-gr-1: black;
$accent-shape-color-gr-2: #3533cd;
$accent-shape-color: linear-gradient(
  to top,
  $accent-shape-color-gr-1,
  $accent-shape-color-gr-2
);

@mixin gradient-text($from, $to) {
  background: linear-gradient(to right, $from, $to);
  -webkit-background-clip: text;
  color: transparent;
}
