//global background color
$bg-color: #e5fbff;

//pages height and width
$height: 100vh;
$width: 100vw;

$main-color1: #280f91;
$main-color2: #582ce9;

//btn colors
$btn-color-1: linear-gradient(0deg, #a47cf3, #683fea);
$btn-color-2: #fefefa;

//accent shape colors
$accent-shape-color-gr-1: black;
$accent-shape-color-gr-2: #3533cd;
$accent-shape-color: linear-gradient(
  to top,
  $accent-shape-color-gr-1,
  $accent-shape-color-gr-2
);

@mixin gradient-text($from, $to) {
  background: linear-gradient(to right, $from, $to);
  -webkit-background-clip: text;
  color: transparent;
}

$gradient: linear-gradient(90deg, #3350f0 0%, #ff66c4 100%);
