@use "../../../global_styles/variables" as v;

.container {
  background: v.$bg-color;
  height: calc(100vh - 80px);
  width: 100%;
  gap: 10px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
