@use "../../global_styles/variables" as v;

.snapContainer {
  height: v.$height;
  width: v.$width;
  overflow-y: scroll; //vertical scroll
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page {
  height: v.$height;
  width: v.$width;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
}
