@use "../../global_styles/variables" as v;

.snapContainer {
  height: v.$height;
  width: v.$width;
  overflow-y: scroll; //vertical scroll
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page {
  height: v.$height;
  width: v.$width;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: v.$bg-color;
}

.page1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page1 .contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
  padding: 5px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; //on mobile the left elements take all the space left
  }
}

.page1 .contentContainer .gridItem {
  color: rgb(36, 6, 6);
  padding: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &:last-child {
    @media (max-width: 768px) {
      display: none; //on mobile the picture dissapears
    }
  }

  @media (max-width: 768px) {
    padding: 20px; // Reducem padding-ul pe mobil ca să lăsăm textul să "respire"
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: left;

  &:first-of-type {
    justify-content: flex-end;
    min-height: 50%;

    @media (max-width: 768px) {
      flex-basis: 50%;
    }

    @media (max-height: 500px), (max-width: 380px) {
      min-height: auto;
    }
  }
  &:last-of-type {
    justify-content: flex-start;
    padding-top: 10px;
  }
}

.btnsContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

.page2 {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 30px;
  overflow-y: visible;
  text-align: center;

  @media screen {
    padding: 80px 20px;
  }
}

.page3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3.5fr 1.5fr;
  height: v.$height;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
}

.div1 {
  grid-row: 1;
  overflow: hidden;
}

.img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

.div2 {
  grid-row: 2;
}
