@use "../../global_styles/variables" as v;

.snapContainer {
  height: v.$height;
  width: v.$width;
  overflow-y: scroll; //vertical scroll
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page {
  height: v.$height;
  width: v.$width;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.page1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page1 .contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
  padding: 5px;
}

.page1 .contentContainer .gridItem {
  color: rgb(36, 6, 6);
  padding: 40px;
  text-align: center;
  flex-grow: 1;
  border: 2px solid black;
}
