@use "../../global_styles/variables" as v;

.page {
  height: v.$height;
  //width: v.$width;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: v.$bg-color;
}

.btnsContainerHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  overflow: visible;

  @media (max-width: 768px) {
    justify-content: flex-end;
    --btn-font-size: 0.9rem;
    --btn-padding: 0.5rem 1.2rem;
    gap: 8px;

    @media (max-width: 480px) {
      --btn-font-size: 0.6rem;
      --btn-padding: 0.4rem 0.8rem;
    }
  }
}

.page1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: v.$height;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: left;

  &:first-of-type {
    justify-content: flex-end;
    min-height: 50%;

    @media (max-width: 768px) {
      flex-basis: 50%;
    }

    @media (max-height: 500px), (max-width: 380px) {
      min-height: auto;
    }
  }
  &:last-of-type {
    justify-content: flex-start;
    padding-top: 10px;
  }
}

.btnsContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  padding: 20px 0 20px 0;
}

.page2 {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: v.$height;
  max-height: v.$height;
  padding: 40px 20px;
  text-align: center;
  overflow: hidden;
  @media screen {
    padding: 20px;
    min-height: fit-content;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
