@use "../../global_styles/typography" as t;
@use "../../global_styles/variables" as v;

.btn {
  border: none;
  font-size: var(--btn-font-size, 1rem);
  padding: var(--btn-padding, 0.8em 2em);
  max-width: var(--btn-max-width, 200px);
  //max-width: 200px;
  //border-radius: 3em;
  border-radius: var(--btn-border-radius, 3em);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  white-space: nowrap;
  font-family: t.$fontFamily;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.primary {
  background: v.$btn-color-1;
  color: white;
}

.secondary {
  background-color: v.$btn-color-2;
  color: v.$main-color2;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.tertiary {
  background: linear-gradient(90deg, #6372ff 0%, #f168ff 100%);
  color: white;
}

.sparkle {
  fill: #aaaaaa;
  transition: all 800ms ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}
