@use "../../global_styles/variables" as v;

.mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: v.$main-color1;
  height: 80px;
  padding-right: 50px;
  position: sticky;
}

.logoWrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  height: 200px;
  width: auto;
  transition: height 0.3s ease;
}

@media (max-width: 768px) {
  .logo {
    max-height: 200px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 150px;
  }

  .mainheader {
    padding-right: 10px;
  }
}
