@use "./global_styles/variables" as v;

//main reset for our app
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
